.news-wiget {
    width: 100%;
    height: 100%;
    border: 3px solid black;
}

.news-item {
    display: block;
    width: 200px;
    height: 300px;
    /*overflow: hidden;*/
    margin: 5px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.imgs-container {
    flex: 0 1 auto;
    max-height: 50%;
    display: flex;
}

.imgs-container img {
    width: auto;
    height: 100%;
}

.news-item-date {
    background: rgba(34, 59, 97, 0.616);
    flex: 0 1 15px;
}

.news-item-text {
    background: rgba(97, 142, 211, 0.616);
    flex: 1 1 50%;
}

.hidden-letter {
    opacity: 0.1;
}

